*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-box{
    position: relative;
    width: 800px;
    height: 500px;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1), 0px 8px 53px rgba(0, 120, 240, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}
.about{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.about h2{
width: 100px;
height: 63px;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 43px;
text-transform: capitalize;
color: #000000;
}
.about p{
width: 700px;
height: 406px;
padding: 10px;
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 31px;
text-transform: capitalize;
color: #000000;
}