*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 800px;
   
   
}
li{
    float: left;
    padding: 10px;
    
}

.home-box{
    position: relative;
    width: 800px;
    height: 500px;
    background: #E5E5E5;;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1), 0px 8px 53px rgba(0, 120, 240, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
   
    
}
.home{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.home-content{
    flex: 1;
}
.home-content h2{
width: 403px;
height: 126px;
font-weight: 600;
font-size: 20px;
line-height: 43px;
text-transform: capitalize;
color: #000000;
margin-left: -300px;

}

.home-content p{

width: 403px;
height: 153px;
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 31px;
text-transform: capitalize;
color: #000000;
margin-left: -300px;
}

button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;
gap: 10px;
width: 206px;
height: 75px;
background: rgba(85, 85, 255, 0.81);
margin-left: -300px;
}