
*{
    margin: 0;
    padding: 0;      
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: white;
}
.from-box{
    position: relative;
    width: 400px;
    height: 450px;
    background:  rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1), 0px 8px 53px rgba(0, 120, 240, 0.25);
    border-radius: 10px;
}

h2{
    font-size: 26px;
    color: rgba(0, 120, 240, 0.5);
    text-align: center;
    width: 68px;
    height: 31px;
    font-style: normal;
    font-weight: 400;
    margin-left: 110px;

}


.inputbox{
    position: relative;
    margin: 30px 0;
    width: 289px;
    border-bottom: 1px solid rgba(0,0,0, 0.44);
}
input:focus ~ type,
input :focus ~ value{
    top:-5px;
}
.inputbox .value{
    position: absolute;
    top:50%;
    left:5px;
    transform: translate(-50%);
    color: #fff;
    font-size: 1cm;
    pointer-events: none;
}
.inputbox input{
    width: 79px;
    height: 26px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 17.9255px;
    padding: 0 35px 0 5px;
    color: rgba(0, 0, 0, 0.44);;
}
button{
width: 169.27px;
height: 19.21px;
border-radius: 40px;
background: #fff;
outline: none;
cursor: pointer;
font-size: 15.3647px;
font-weight: 500; 
width: 288.09px;
height: 51.22px;
box-sizing: border-box;
background: rgba(0, 120, 240, 0.1);
border: 1px solid #0078F0;
border-radius: 10px;
color: #0078F0;
margin-top: 50px;

}